# path for fawkes
export PATH=$PATH":~/fawkes-robotino/bin"

# exports for fawkes simulation
export FAWKES_DIR=~/fawkes-robotino
# adapt the first part according to the path to the Gazebo standard plugins
export GAZEBO_PLUGIN_PATH=/usr/lib64/gazebo-2.2/plugins:$FAWKES_DIR/lib/gazebo
# This is the path where you cloned the gazebo models repository
export GAZEBO_MODEL_PATH=~/git/gazebo-models
# This is the path where you cloned the LLSF refbox repository
export LLSF_REFBOX_DIR=~/git/llsf-refbox

# enable ros 
# have ros on the PCs
if [[ -f /opt/ros/custom.sh ]]
then
    source /opt/ros/custom.sh
fi
export ROS_PACKAGE_PATH=$ROS_PACKAGE_PATH:~/fawkes-robotino/cfg/move_base_robotino
